---
Checks:  '-*,-clang-*,bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-reserved-identifier,-bugprone-assignment-in-if-condition,-bugprone-unused-return-value,-bugprone-exception-escape'
FormatStyle:     none
HeaderFilterRegex: 'include/*.h,subprojects/*/*.h'
WarningsAsErrors: '-*,-clang-*,bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-reserved-identifier,-bugprone-assignment-in-if-condition,-bugprone-unused-return-value,-bugprone-exception-escape'
---
