---
Checks:          '-*,boost-*,bugprone-*,clang-analyzer-*,misc-*,performance-*,portability-*,readability-*,-readability-named-parameter,-readability-static-definition-in-anonymous-namespace,-readability-uppercase-literal-suffix,-readability-magic-numbers,-readability-implicit-bool-conversion,-readability-isolate-declaration'
HeaderFilterRegex: ''
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
---
