**
!./tools/buildboost.sh
!./tools/builddeps.sh
!./tools/buildlibevent.sh
!./tools/buildlibwally-core.sh
!./tools/buildsqlite3.sh
!./tools/buildopenssl.sh
!./tools/buildtor.sh
!./tools/buildzlib.sh
!./docker/debian/deps.sh
!./docker/ubuntu/deps.sh
!./docker/fedora/deps.sh
!./tools/env.sh
!./tools/requirements.txt
!./cmake/profiles/
!./*.tar.gz
