**
!./tools/buildbcur.sh
!./tools/bc-ur.patch
!./tools/buildboost.sh
!./tools/builddeps.sh
!./tools/buildlibwally-core.sh
!./tools/buildsqlite3.sh
!./tools/buildopenssl.sh
!./tools/buildtinycbor.sh
!./tools/buildtor.sh
!./tools/zlib-1.3.patch
!./tools/libevent-2.1.12.patch
!./docker/debian/install_deps.sh
!./docker/debian/install_rust_tools.sh
!./docker/ubuntu/install_deps.sh
!./docker/ubuntu-arm64/install_deps.sh
!./docker/fedora/install_deps.sh
!./docker/python/install_deps.sh
!./docker/android/install_deps.sh
!./tools/env.sh
!./tools/requirements.txt
!./cmake/profiles/
!./downloads/**
!./downloads
!./subprojects/gdk_rust/Cargo.*
!./subprojects/gdk_rust/gdk_common/Cargo.*
!./subprojects/gdk_rust/gdk_common/Cargo.*
!./subprojects/gdk_rust/gdk_electrum/Cargo.*
!./subprojects/gdk_rust/gdk_electrum/Cargo.*
!./subprojects/gdk_rust/gdk_pin_client/Cargo.*
!./subprojects/gdk_rust/gdk_registry/Cargo.*
!./subprojects/gdk_rust/gdk_rust/Cargo.*
