cache:
  key: "10"
  paths:
    - subprojects/packagecache/

image: greenaddress/ci@sha256:4729d10e34eb78f9c29794ee7afd8c80318bb1c2b54b211bf022b1ff6c740658

stages:
  - format
  - build
  - test
  - deploy

.fedora_images:
  image: greenaddress/fedora_ci@sha256:51894754af5c061933e3550fdd582eb3ff9145dd7c72f4a376e6cb77ec7a1420
  tags:
    - ga

.ndk_release:
  tags:
    - ga
  artifacts:
    expire_in: 1 day
    when: on_success
    paths:
    - gdk-android-jni

.osx_test:
  tags:
    - osx
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - subprojects/packagecache/

.py_release:
  tags:
    - ga
  before_script:
    - mkdir $CI_PROJECT_DIR/gdk-python
  artifacts:
    expire_in: 1 day
    when: on_success
    paths:
    - gdk-python

test_format:
  tags:
    - ga
  stage: format
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/format.sh && git diff --exit-code

test_gcc:
  tags:
    - ga
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --gcc

release_py3m_buster:
  extends: .py_release
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --install $PWD/gdk-python --gcc --python-version 3.7

release_py3m_buster_debug:
  extends: .py_release
  when: manual
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --buildtype=debug --install $PWD/gdk-python --gcc --python-version 3.7

release_py3m_ubuntu_18.04:
  image: greenaddress/ci@sha256:670c5f45be29ac727231b6580f57225ec6b82adf6a8dc19074cb5dfc1b644c6f
  extends: .py_release
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --install $PWD/gdk-python --gcc --python-version 3.6

release_py3m_osx:
  extends: .py_release
  tags:
    - osx
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --install $PWD/gdk-python --clang --python-version 3.7

test_fedora_gcc:
  extends: .fedora_images
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --gcc

test_fedora_debug_gcc:
  extends: .fedora_images
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --buildtype=debug --gcc

test_fedora_clang:
  extends: .fedora_images
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --clang

test_clang:
  tags:
    - ga
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --clang-tidy-version=7 --clang

gdk_clang_ndk_armeabi-v7a:
  extends: .ndk_release
  script:
    - cd $CI_PROJECT_DIR
    - mkdir gdk-android-jni
    - ANDROID_NDK=/android-ndk-r20 ./tools/build.sh --install $PWD/gdk-android-jni --ndk armeabi-v7a --lto=true

gdk_clang_ndk_arm64-v8a:
  extends: .ndk_release
  script:
    - cd $CI_PROJECT_DIR
    - mkdir gdk-android-jni
    - ANDROID_NDK=/android-ndk-r20 ./tools/build.sh --install $PWD/gdk-android-jni --ndk arm64-v8a --lto=true

gdk_clang_ndk_arm64-v8a-debug:
  extends: .ndk_release
  when: manual
  script:
    - cd $CI_PROJECT_DIR
    - mkdir gdk-android-jni
    - ANDROID_NDK=/android-ndk-r20 ./tools/build.sh --buildtype=debug --install $PWD/gdk-android-jni --ndk arm64-v8a --lto=true

gdk_clang_ndk_x86:
  extends: .ndk_release
  script:
    - cd $CI_PROJECT_DIR
    - mkdir gdk-android-jni
    - ANDROID_NDK=/android-ndk-r20 ./tools/build.sh --install $PWD/gdk-android-jni --ndk x86 --lto=true

gdk_clang_ndk_x86_64:
  extends: .ndk_release
  script:
    - cd $CI_PROJECT_DIR
    - mkdir gdk-android-jni
    - ANDROID_NDK=/android-ndk-r20 ./tools/build.sh --install $PWD/gdk-android-jni --ndk x86_64 --lto=true

test_osx_clang:
  extends: .osx_test
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/clean.sh dirs
    - ./tools/build.sh --clang --lto=true

test_osx_ios:
  extends: .osx_test
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/clean.sh dirs
    - ./tools/build.sh --iphone static --lto=true

test_osx_ios_sim:
  extends: .osx_test
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/clean.sh dirs
    - ./tools/build.sh --iphonesim static --lto=true

test_osx_clang_ndk_armeabi-v7a:
  extends: .osx_test
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/clean.sh dirs
    - ./tools/build.sh --ndk armeabi-v7a

test_osx_clang_ndk_arm64-v8a:
  extends: .osx_test
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/clean.sh dirs
    - ./tools/build.sh --ndk arm64-v8a

test_osx_clang_ndk_x86:
  extends: .osx_test
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/clean.sh dirs
    - ./tools/build.sh --ndk x86

test_osx_clang_ndk_x86_64:
  extends: .osx_test
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/clean.sh dirs
    - ./tools/build.sh --ndk x86_64

test_freebsd_gcc:
  tags:
    - freebsd
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --gcc

test_freebsd_clang:
  tags:
    - freebsd
  before_script:
    - export PATH="/usr/local/llvm60/bin:$PATH"
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --clang

test_windows_mingw_w64_cross:
  tags:
    - ga
  artifacts:
    expire_in: 1 hour
    when: on_success
    paths:
    - build-windows-mingw-w64/src/libgreenaddress*
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build.sh --mingw-w64

apidocs:
  tags:
    - ga
  artifacts:
    expire_in: 14 days
    when: on_success
    paths:
    - apidocs.tar.gz
  script:
    - cd $CI_PROJECT_DIR
    - tools/clean.sh
    - virtualenv -p python3 .venv
    - source .venv/bin/activate
    - pip3 install sphinx sphinx_rtd_theme
    - sphinx-build -b html -a -c docs/source docs/source docs/build/html
    - cd docs/build && tar czf ../../apidocs.tar.gz html/ && cd ../..
    - deactivate
    - tools/clean.sh

package_release:
  tags:
    - garelease
  stage: deploy
  artifacts:
    expire_in: 14 days
    paths:
    - $CI_PROJECT_DIR/gdk_dist
    when: on_success
  script:
    - cd $CI_PROJECT_DIR
    - mkdir gdk-android-symbols
    - mkdir gdk_dist
    - find gdk-android-jni -name "*.syms" -type f -exec cp --parents {} gdk-android-symbols \;
    - tar -czf gdk_dist/gdk-android-symbols.tar.gz gdk-android-symbols --remove-files
    - find gdk-android-jni -name "*.a" -type f -delete
    - find gdk-android-jni -name "*.syms" -type f -delete
    - tar -czf gdk_dist/gdk-android-jni.tar.gz gdk-android-jni --remove-files
    - mv gdk-python/*whl gdk_dist/
    - cd gdk_dist
    - /opt/process_release
  dependencies:
  - gdk_clang_ndk_armeabi-v7a
  - gdk_clang_ndk_arm64-v8a
  - gdk_clang_ndk_x86
  - gdk_clang_ndk_x86_64
  - release_py3m_buster
  - release_py3m_ubuntu_18.04
  - release_py3m_osx
  - apidocs
