#
#
#

!.gitignore
/result*
/build
target/release
target/debug
/build-gcc*/
/build-clang*/
/*/*/*/.build/
/subprojects/*
!subprojects/gdk_rust*
/subprojects/gdk_rust/gdk_electrum/target
/subprojects/gdk_rust/gdk_rpc/target
!subprojects/*meson*
!subprojects/*wrap*
*.swp
*.class
*.so
*.dylib
*.tar
*.pyc
Package.resolved
.idea/
docs/source/gdk.rst
docs/build
.pytest_cache/
*.pyc
*PVS-Studio*
/TAGS
/tor
*~
target/
