#
#
#

!.gitignore
/build-gcc*/
/build-clang*/
/*/*/*/.build/
/subprojects/*
!subprojects/*meson*
!subprojects/*wrap*
*.swp
*.class
*.so
*.dylib
*.tar
*.pyc
Package.resolved
.idea/
docs/source/gdk.rst
docs/build
.pytest_cache/
*.pyc
*PVS-Studio*
