[package]
name = "gdk-electrum"
version = "0.1.0"
authors = ["Riccardo Casatta <riccardo@casatta.it>"]
edition = "2018"

[features]
android_log = ["android_logger"]

[dependencies]
log = "0.4.8"
rand = "0.6.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_cbor = "0.11.1"
# FIXME: unpin zeroize once we bump MSRV (needs rebuild of docker images)
zeroize = "<1.4.0"
aes-gcm-siv = "0.10.0"
gdk-common = { path = "../gdk_common" }
libc = "0.2"
android_logger = { version = "0.8.6", optional = true }
electrum-client = { version = "0.8.0", default-features = false, features = [ "proxy", "use-openssl" ] }
ureq = { version = "1.5.5", features = ["json", "socks-proxy"] }
block-modes = "0.8.0"
aes = "0.7.0"
tempdir = "0.3.7"
lazy_static = "1.4.0"
# We need to pin half (transitive dep from serde_cbor) to stay compatible with Rust 1.49.0
half = "~1.7"

bitcoin = { version = "0.27", features = [ "use-serde", "rand" ] }
#elements = { version = "0.18", features = ["serde-feature"] }
elements = { git = "https://github.com/ElementsProject/rust-elements", rev = "5aca4996dcea36af95fe9119b960b1b95ee682b4", features = ["serde-feature"] }
