[package]
name = "gdk-electrum"
version = "0.1.0"
authors = ["Riccardo Casatta <riccardo@casatta.it>"]
edition = "2018"

[features]
testing = []

[dependencies]
log = "0.4.8"
rand = "0.6.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_cbor = "0.11.1"
# FIXME: unpin zeroize once we bump MSRV (needs rebuild of docker images)
zeroize = "<1.4.0"
aes-gcm-siv = "0.10.0"
gdk-common = { path = "../gdk_common" }
gdk-registry = { path = "../gdk_registry" }
libc = "0.2"
electrum-client = { version = "0.8.0", default-features = false, features = [ "proxy", "use-openssl" ] }
ureq = { version = "2.4.0", features = ["json", "socks-proxy", "gzip", "brotli"] }
block-modes = "0.8.0"
aes = "0.7.0"
tempfile = "3.2.0"
lazy_static = "1.4.0"
secp256k1-sys = "=0.4.1" # 0.4.2 has compatibility issues with secp256k1-zkp-sys v0.4.0

bitcoin = { version = "0.27", features = [ "use-serde", "rand" ] }
#elements = { version = "0.18", features = ["serde-feature"] }
elements = { git = "https://github.com/ElementsProject/rust-elements", rev = "0edddf730ff8fd441d3af28bc600b8bc8a8df5a9", features = ["serde-feature"] }

[dev-dependencies]
env_logger = "0.9.0"
