[package]
name = "gdk-electrum"
version = "0.1.0"
authors = ["Riccardo Casatta <riccardo@casatta.it>"]
edition = "2018"

[features]
android_log = ["android_logger"]

[dependencies]
log = "0.4.8"
rand = "0.6.5"
hex = "0.4.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_cbor = "0.11.1"
sha2 = "0.8.0"
# FIXME: unpin zeroize once we bump MSRV (needs rebuild of docker images)
zeroize = "<1.4.0"
aes-gcm-siv = "0.5.0"
gdk-common = { path = "../gdk_common" }
libc = "0.2"
android_logger = { version = "0.8.6", optional = true }
electrum-client = "0.7.0"
ureq = { version = "1.5.5", features = ["json", "socks-proxy"] }
block-modes = "0.3.3"
aes = "0.3.2"
tempdir = "0.3.7"
secp256k1 = { version = "0.20.0", features = [ "recovery", "rand"] }
lazy_static = "1.4.0"

# remember to update secp256k1 deps if increasing this one, unfortunately we can't use the rexported one from bitcoin because we need recovery feature
bitcoin = { version = "0.26", features = [ "use-serde", "rand" ] }
elements = { version = "0.16", features = ["serde-feature"] }

# required for https://github.com/rust-bitcoin/rust-bitcoin/pull/511 (merged but unreleased)
[patch.crates-io]
bitcoin = { git = "https://github.com/rust-bitcoin/rust-bitcoin", rev = "5bd61967b231939626dd847fd82cc5da33052dc1", features = [ "use-serde" ] }
