[package]
name = "gdk-rust"
version = "0.1.0"
authors = ["Riccardo Casatta <riccardo@casatta.it>", "Nadav Ivgi <nadav@shesek.info>"]
license = "(MIT)"
edition = "2018"

[lib]
crate-type = ["staticlib"]

[features]
android_log = ["android_logger"]

[dependencies]
rand = "0.7.3"
gdk-electrum = { path = "gdk_electrum", features = ["android_log"] }
gdk-common = { path = "gdk_common" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
libc = "0.2"
hex = "0.4.0"
chrono = "0.4.11"
log = "0.4.8"
android_logger = { version = "0.8.6", optional = true }
url = "1.7.2"
ureq = { version = "1.5.5", features = ["json", "socks-proxy"] }

[dev-dependencies]
tempdir = "0.3.7"
electrum-client = "0.7.0"
bitcoin = { version = "0.26.0", features = [ "use-serde" ] }
elements = { version = "0.16", features = ["serde-feature"] }
# TODO: remove "legacy" feature when upgrading electrs binaries
electrsd = { version = "0.7.0", features = [ "legacy", "trigger" ] }

[profile.release]
lto = true
panic = 'abort'
opt-level = 'z'
codegen-units = 1
incremental = false

# FIXME: LTO is required to fix building on iphone
[profile.dev]
lto = true
debug = true
debug-assertions = true
panic = 'abort'

# required for https://github.com/rust-bitcoin/rust-bitcoin/pull/511 (merged but unreleased)
[patch.crates-io]
bitcoin = { git = "https://github.com/rust-bitcoin/rust-bitcoin", rev = "5bd61967b231939626dd847fd82cc5da33052dc1", features = [ "use-serde" ] }
